import /system/etc/init/init.ago.rc

    on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.dbg.allow_ims_off 1
    setprop persist.dbg.volte_avail_ovr 1
    setprop persist.dbg.vt_avail_ovr 1
    setprop persist.dbg.wfc_avail_ovr 1
    setprop persist.vendor.vilte_support 1

    # Boot time fs tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/scheduler cfq
    write /sys/block/sdb/queue/iosched/slice_idle 0
    write /sys/block/sdb/queue/read_ahead_kb 2048
    write /sys/block/sdb/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/scheduler cfq
    write /sys/block/sdc/queue/iosched/slice_idle 0
    write /sys/block/sdc/queue/read_ahead_kb 2048
    write /sys/block/sdc/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    setprop persist.vendor.vilte_support 0

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6768 /vendor/etc/fstab.mt6768 bind

    on property:sys.boot_completed=1
    # Restrict permissions to socket file 
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

    on post-fs
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6768
    
    on boot
    write /proc/bootprof "INIT:boot"

    write /proc/sys/vm/dirty_writeback_centisecs 500
    chmod 0660 /sys/power/autosleep

    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/brightness

    chown system system /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/system/cpu/cpufreq/hotplug/cpu_num_base
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chown root   system /sys/kernel/debug/binder/transaction_log_enable
    chown root   system /sys/kernel/debug/binder/perf_evalue
    chown system system /sys/devices/system/cpu/rq-stats/htasks_thresh
    chmod 0660 /sys/devices/system/cpu/rq-stats/htasks_thresh
    chown system system /sys/devices/system/cpu/rq-stats/avg_htasks_thresh
    chmod 0660 /sys/devices/system/cpu/rq-stats/avg_htasks_thresh

    chown system /sys/module/mlog/parameters/do_mlog
    chown system /sys/module/mlog/parameters/timer_intval

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/button-backlight/trigger
    chown system system /sys/class/leds/keyboard-backlight/trigger
    chown system system /sys/class/leds/jogball-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    # Permission for hibernation
    chown radio system /sys/power/tuxonice
    chown radio system /sys/power/tuxonice/do_hibernate
    chmod 0770 /sys/power/tuxonice
    chmod 0220 /sys/power/tuxonice/do_hibernate


# Smartbook Handler Framework
    chown system system /sys/power/sb_state
    chmod 0660 /sys/power/sb_state

# HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown system system /proc/hps/num_limit_ultra_power_saving
    chmod 0660 /proc/hps/num_limit_ultra_power_saving
    chown system system /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown system system /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold
    chown system system /proc/hps/rush_boost_enabled
    chmod 0660 /proc/hps/rush_boost_enabled
    chown system system /proc/hps/heavy_task_enabled
    chmod 0660 /proc/hps/heavy_task_enabled
    chown system system /proc/hps/power_mode
    chmod 0660 /proc/hps/power_mode
    chown system system /proc/hps/up_times
    chmod 0660 /proc/hps/up_times
    chown system system /proc/hps/down_times
    chmod 0660 /proc/hps/down_times

# PPM
    chown system system /proc/ppm/mode
    chmod 0660 /proc/ppm/mode
    chown system system /proc/ppm/policy/perfserv_min_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_min_perf_idx
    chown system system /proc/ppm/policy/perfserv_max_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_max_perf_idx
    chown system system /proc/ppm/policy/perfserv_perf_idx
    chmod 0660 /proc/ppm/policy/perfserv_perf_idx
    chown system system /proc/ppm/policy/userlimit_min_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_freq
    chown system system /proc/ppm/policy/userlimit_max_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_freq
    chown system system /proc/ppm/policy/userlimit_min_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_core
    chown system system /proc/ppm/policy/userlimit_max_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_core
    chown system system /proc/ppm/policy/userlimit_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_cpu_core
    chown system system /proc/ppm/policy/userlimit_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_cpu_freq
    chown system system /proc/ppm/dump_cluster_0_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_0_dvfs_table
    chown system system /proc/ppm/dump_cluster_1_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_1_dvfs_table
    chown system system /proc/ppm/dump_cluster_2_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_2_dvfs_table
    chown system system /proc/ppm/root_cluster
    chmod 0660 /proc/ppm/root_cluster
    chown system system /proc/ppm/policy/hica_variant
    chmod 0660 /proc/ppm/policy/hica_variant
    chown system system /proc/ppm/policy/hica_settings/L_ONLY_to_4L_LL/loading_hold_time
    chmod 0660 /proc/ppm/policy/hica_settings/L_ONLY_to_4L_LL/loading_hold_time

# cpu_loading
    chown system system /proc/cpu_loading/onoff
    chmod 0664 /proc/cpu_loading/onoff
    chown system system /proc/cpu_loading/overThrhld
    chmod 0664 /proc/cpu_loading/overThrhld
    chown system system /proc/cpu_loading/poltime_nsecs
    chmod 0664 /proc/cpu_loading/poltime_nsecs
    chown system system /proc/cpu_loading/poltime_secs
    chmod 0664 /proc/cpu_loading/poltime_secs
    chown system system /proc/cpu_loading/uevent_enable
    chmod 0664 /proc/cpu_loading/uevent_enable

# CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chown system system /proc/cpufreq/cpufreq_power_mode
    chmod 0660 /proc/cpufreq/cpufreq_power_mode
    chown system system /proc/cpufreq/enable_hw_gov
    chmod 0660 /proc/cpufreq/enable_hw_gov

# BW monitor
    chown system system /proc/fliperfs/cg_enable
    chmod 0664 /proc/fliperfs/cg_enable
    chown system system /proc/fliperfs/cg_threshold
    chmod 0664 /proc/fliperfs/cg_threshold
    chown system system /proc/fliperfs/cg_threshold_ddr3
    chmod 0664 /proc/fliperfs/cg_threshold_ddr3
    chown system system /proc/fliperfs/perf
    chmod 0664 /proc/fliperfs/perf

# perfmgr
    chown system system /proc/perfmgr/smart/hps_is_heavy
    chmod 0660 /proc/perfmgr/smart/hps_is_heavy
    chown system system /proc/perfmgr/smart/hps_check_duration
    chmod 0660 /proc/perfmgr/smart/hps_check_duration
    chown system system /proc/perfmgr/smart/hps_check_last_duration
    chmod 0660 /proc/perfmgr/smart/hps_check_last_duration
    chown system system /proc/perfmgr/smart/hps_uevent_enable
    chmod 0660 /proc/perfmgr/smart/hps_uevent_enable
    chown system system /sys/power/dcm_state
    chmod 0660 /sys/power/dcm_state

##Netlog tool
   #change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue

# WMT proc
    chown shell system /proc/driver/wmt_dbg
    chown shell system /proc/driver/wmt_aee

# define device for EMCSMDLOGGER
    chown system radio /dev/ttyGS3
    chmod 0660 /dev/ttyGS3

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system radio /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system radio /dev/ttyGS1
#Power Manager
    write /sys/power/pm_freeze_timeout 2000
    
    # USB-OTG
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0666 /sys/class/power_supply/usb/otg_switch
    write /sys/class/power_supply/usb/otg_switch 1
    
    # Smart Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/mmi_charging_enable
    chmod 0666 /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/charging_enabled
    chmod 0666 /sys/class/power_supply/battery/mmi_charging_enable
    

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon

    # Performance profiles
on property:perf_profile=1
    exec - root -- /system/bin/perf_profile.sh 1

on property:perf_profile=0
    exec - root -- /system/bin/perf_profile.sh 0

on property:sys.boot_completed=1
    chown root root /sys/module/ged/parameters/gx_force_cpu_boost
    chown root root /proc/cpufreq/cpufreq_power_mode
      chown root root /proc/cpufreq/cpufreq_cci_mode

      on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"
    
    # ZRAM
    swapon_all /vendor/etc/fstab.enableswap

    # Runtime fs tuning for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdb/queue/read_ahead_kb 512
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdb/queue/iostats 1
    write /sys/block/sdc/queue/read_ahead_kb 512
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/sdc/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128

service face_hal /system/bin/true
    oneshot
    disabled

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled
