import /system/etc/init/init.ago.rc

on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    
    mount none /system/bin/hw/android.hardware.usb@1.0-service.RMX3191 /vendor/bin/hw/android.hardware.usb@1.1-service-mediatek bind
    mount none /vendor/lost+found /vendor/etc/init/android.hardware.usb@1.1-service-mediatek.rc bind
    

    # Boot time fs tune
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/scheduler cfq
    write /sys/block/sdb/queue/iosched/slice_idle 0
    write /sys/block/sdb/queue/read_ahead_kb 2048
    write /sys/block/sdb/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/scheduler cfq
    write /sys/block/sdc/queue/iosched/slice_idle 0
    write /sys/block/sdc/queue/read_ahead_kb 2048
    write /sys/block/sdc/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    setprop persist.vendor.vilte_support 0

on property:sys.boot_completed=1
    # Restrict permissions to socket file 
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

on post-fs-data
    # VideoCodec
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1

    # Create Goodix FP related directories
    mkdir /data/gf_data 0700 system system
    mkdir /data/system/gf_data 0700 system system
    mkdir /data/images 0700 system system
    
    #ifdef VENDOR_EDIT
    #Zeke.Shi@RM.MM.Display.LCD.Params,2019-11-16 add for display
    chown system system /sys/kernel/oppo_display/dump_info
    chown system system /sys/kernel/oppo_display/LCM_CABC
    chown system system /sys/kernel/oppo_display/ffl_set
    chown system system /sys/kernel/oppo_display/power_status
    chown system system /sys/kernel/oppo_display/sau_closebl_node
    chown system system /sys/kernel/oppo_display/esd_status

    chmod 0666 /sys/kernel/oppo_display/dump_info
    chmod 0666 /sys/kernel/oppo_display/LCM_CABC
    chmod 0666 /sys/kernel/oppo_display/ffl_set
    chmod 0666 /sys/kernel/oppo_display/power_status
    chmod 0666 /sys/kernel/oppo_display/sau_closebl_node
    chmod 0666 /sys/kernel/oppo_display/esd_status
    chmod 0644 /data/oppo/multimedia/oppo_display_perf_list.xml
    #endif /* VENDOR_EDIT */
    
        # Permission for hibernation
    chown radio system /sys/power/tuxonice
    chown radio system /sys/power/tuxonice/do_hibernate
    chmod 0770 /sys/power/tuxonice
    chmod 0220 /sys/power/tuxonice/do_hibernate


# Smartbook Handler Framework
    chown system system /sys/power/sb_state
    chmod 0660 /sys/power/sb_state

# HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown system system /proc/hps/num_limit_ultra_power_saving
    chmod 0660 /proc/hps/num_limit_ultra_power_saving
    chown system system /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown system system /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold
    chown system system /proc/hps/rush_boost_enabled
    chmod 0660 /proc/hps/rush_boost_enabled
    chown system system /proc/hps/heavy_task_enabled
    chmod 0660 /proc/hps/heavy_task_enabled
    chown system system /proc/hps/power_mode
    chmod 0660 /proc/hps/power_mode
    chown system system /proc/hps/up_times
    chmod 0660 /proc/hps/up_times
    chown system system /proc/hps/down_times
    chmod 0660 /proc/hps/down_times

# PPM
    chown system system /proc/ppm/mode
    chmod 0660 /proc/ppm/mode
    chown system system /proc/ppm/policy/perfserv_min_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_min_perf_idx
    chown system system /proc/ppm/policy/perfserv_max_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_max_perf_idx
    chown system system /proc/ppm/policy/perfserv_perf_idx
    chmod 0660 /proc/ppm/policy/perfserv_perf_idx
    chown system system /proc/ppm/policy/userlimit_min_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_freq
    chown system system /proc/ppm/policy/userlimit_max_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_freq
    chown system system /proc/ppm/policy/userlimit_min_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_core
    chown system system /proc/ppm/policy/userlimit_max_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_core
    chown system system /proc/ppm/policy/userlimit_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_cpu_core
    chown system system /proc/ppm/policy/userlimit_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_cpu_freq
    chown system system /proc/ppm/dump_cluster_0_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_0_dvfs_table
    chown system system /proc/ppm/dump_cluster_1_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_1_dvfs_table
    chown system system /proc/ppm/dump_cluster_2_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_2_dvfs_table
    chown system system /proc/ppm/root_cluster
    chmod 0660 /proc/ppm/root_cluster
    chown system system /proc/ppm/policy/hica_variant
    chmod 0660 /proc/ppm/policy/hica_variant
    chown system system /proc/ppm/policy/hica_settings/L_ONLY_to_4L_LL/loading_hold_time
    chmod 0660 /proc/ppm/policy/hica_settings/L_ONLY_to_4L_LL/loading_hold_time

# cpu_loading
    chown system system /proc/cpu_loading/onoff
    chmod 0664 /proc/cpu_loading/onoff
    chown system system /proc/cpu_loading/overThrhld
    chmod 0664 /proc/cpu_loading/overThrhld
    chown system system /proc/cpu_loading/poltime_nsecs
    chmod 0664 /proc/cpu_loading/poltime_nsecs
    chown system system /proc/cpu_loading/poltime_secs
    chmod 0664 /proc/cpu_loading/poltime_secs
    chown system system /proc/cpu_loading/uevent_enable
    chmod 0664 /proc/cpu_loading/uevent_enable

# CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chown system system /proc/cpufreq/cpufreq_power_mode
    chmod 0660 /proc/cpufreq/cpufreq_power_mode
    chown system system /proc/cpufreq/enable_hw_gov
    chmod 0660 /proc/cpufreq/enable_hw_gov

# BW monitor
    chown system system /proc/fliperfs/cg_enable
    chmod 0664 /proc/fliperfs/cg_enable
    chown system system /proc/fliperfs/cg_threshold
    chmod 0664 /proc/fliperfs/cg_threshold
    chown system system /proc/fliperfs/cg_threshold_ddr3
    chmod 0664 /proc/fliperfs/cg_threshold_ddr3
    chown system system /proc/fliperfs/perf
    chmod 0664 /proc/fliperfs/perf

# perfmgr
    chown system system /proc/perfmgr/smart/hps_is_heavy
    chmod 0660 /proc/perfmgr/smart/hps_is_heavy
    chown system system /proc/perfmgr/smart/hps_check_duration
    chmod 0660 /proc/perfmgr/smart/hps_check_duration
    chown system system /proc/perfmgr/smart/hps_check_last_duration
    chmod 0660 /proc/perfmgr/smart/hps_check_last_duration
    chown system system /proc/perfmgr/smart/hps_uevent_enable
    chmod 0660 /proc/perfmgr/smart/hps_uevent_enable
    chown system system /sys/power/dcm_state
    chmod 0660 /sys/power/dcm_state

    # Set permissions for FPC FP
    chown system  system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/fpc_interrupt/irq
    chmod 0660 /sys/bus/platform/devices/fpc_interrupt/irq_unexpected

    # USB-OTG
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0666 /sys/class/power_supply/usb/otg_switch
    write /sys/class/power_supply/usb/otg_switch 1
    
    # Smart Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/mmi_charging_enable
    chmod 0666 /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/charging_enabled
    chmod 0666 /sys/class/power_supply/battery/mmi_charging_enable
    
    # boot perf. tune
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/sched_stune_task_thresh 0

    #ifdef VENDOR_EDIT
    #Mark.Yao@PSW.MM.Display.LCD.Params,2019-08-19 add for display
    chown system system /sys/kernel/oppo_display/dump_info
    chown system system /sys/kernel/oppo_display/hbm
    chown system system /sys/kernel/oppo_display/cabc
    chown system system /sys/kernel/oppo_display/seed
    chown system system /sys/kernel/oppo_display/dimlayer_bl_en
    chown system system /sys/kernel/oppo_display/ffl_set
    chown system system /sys/kernel/oppo_display/dimlayer_hbm
    chown system system /sys/kernel/oppo_display/force_screenfp
    chown system system /sys/kernel/oppo_display/notify_fppress
    chown system system /sys/kernel/oppo_display/aod_light_mode_set
    chown system system /sys/kernel/oppo_display/power_status
    chown system system /sys/kernel/oppo_display/sau_closebl_node
    chown system system /sys/kernel/oppo_display/esd_status
    chown system system /sys/kernel/oppo_display/spr

    chmod 0666 /sys/kernel/oppo_display/dump_info
    chmod 0666 /sys/kernel/oppo_display/hbm
    chmod 0666 /sys/kernel/oppo_display/cabc
    chmod 0666 /sys/kernel/oppo_display/seed
    chmod 0666 /sys/kernel/oppo_display/dimlayer_bl_en
    chmod 0666 /sys/kernel/oppo_display/ffl_set
    chmod 0666 /sys/kernel/oppo_display/dimlayer_hbm
    chmod 0666 /sys/kernel/oppo_display/force_screenfp
    chmod 0666 /sys/kernel/oppo_display/notify_fppress
    chmod 0666 /sys/kernel/oppo_display/aod_light_mode_set
    chmod 0666 /sys/kernel/oppo_display/power_status
    chmod 0666 /sys/kernel/oppo_display/sau_closebl_node
    chmod 0666 /sys/kernel/oppo_display/esd_status
    chmod 0644 /data/oppo/multimedia/oppo_display_perf_list.xml
    chmod 0666 /sys/kernel/oppo_display/spr
    #endif /* VENDOR_EDIT */

	#kpd
    chown radio radio /sys/devices/platform/mtk-kpd/driver/kpd_call_state

    #Charging Battery
    chown radio radio /sys/devices/platform/battery/Charging_CallState

    # PMIC property
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_stop
    chown radio system /sys/devices/platform/mt-pmic/low_battery_protect_ut

    #MDDB
    mkdir /data/vendor_de/meta 0770 system system
    mkdir /data/vendor_de/meta/mddb 0770 system system

    chown system /sys/devices/platform/msensor/driver/cpsopmode
    chown system /sys/devices/platform/msensor/driver/cpsreptxy
    chown system /sys/devices/platform/msensor/driver/cpsreptz
    chown system /sys/devices/platform/gsensor/driver/cpsopmode
    chown system /sys/devices/platform/gsensor/driver/cpsrange

    chown system /sys/class/input/input1/enable
    chown system /sys/class/input/input1/delay
    chown system /sys/class/input/input1/wake
    chown system /sys/class/input/input1/offsets
    chown system /sys/class/input/input2/enable
    chown system /sys/class/input/input2/delay
    chown system /sys/class/input/input2/wake
    chown system /sys/class/input/input2/offsets
    chown system /sys/class/input/input3/enable
    chown system /sys/class/input/input3/delay
    chown system /sys/class/input/input3/wake
    chown system /sys/class/input/input3/offsets
    chown system /sys/class/input/input4/enable
    chown system /sys/class/input/input4/delay
    chown system /sys/class/input/input4/wake
    chown system /sys/class/input/input4/offsets
    chown system /sys/class/input/input5/enable
    chown system /sys/class/input/input5/delay
    chown system /sys/class/input/input5/wake
    chown system /sys/class/input/input5/offsets
    chown system /sys/class/input/input6/enable
    chown system /sys/class/input/input6/delay
    chown system /sys/class/input/input6/wake
    chown system /sys/class/input/input6/offsets
    chown system /sys/class/input/input7/enable
    chown system /sys/class/input/input7/delay
    chown system /sys/class/input/input7/wake
    chown system /sys/class/input/input7/offsets
    chown system /sys/class/input/input8/enable
    chown system /sys/class/input/input8/delay
    chown system /sys/class/input/input8/wake
    chown system /sys/class/input/input8/offsets
    chown system /sys/class/input/input9/enable
    chown system /sys/class/input/input9/delay
    chown system /sys/class/input/input9/wake
    chown system /sys/class/input/input9/offsets
    chown system /sys/class/input/input10/enable
    chown system /sys/class/input/input10/delay
    chown system /sys/class/input/input10/wake
    chown system /sys/class/input/input10/offsets

    #EM eint
    chown root diag /sys/bus/platform/drivers/eint/current_eint

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    # Services
    stop console

on boot
    # Set permission for Goodix FP
    chown system system /dev/goodix_fp
 
on property:sys.boot_completed=1
    setprop vendor.oppo.biometrics.fingerprint.boot_completed 1

on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"
    
    # ZRAM
    swapon_all /vendor/fstab.enableswap

    # Runtime fs tuning for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdb/queue/read_ahead_kb 512
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdb/queue/iostats 1
    write /sys/block/sdc/queue/read_ahead_kb 512
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/sdc/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot

service face_hal /system/bin/true
    oneshot
    disabled

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled
    
# Import Swap Enable Script from realmeUI
service swap_enable /system/bin/sh /system/etc/swap_enable.sh
    class late_start
    disabled
    user root
    group system
    oneshot

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon

# Performance profiles
on property:perf_profile=1
    exec - root -- /system/bin/perf_profile.sh 1

on property:perf_profile=0
    exec - root -- /system/bin/perf_profile.sh 0

on property:sys.boot_completed=1
    chown root root /sys/module/ged/parameters/gx_force_cpu_boost
    chown root root /proc/cpufreq/cpufreq_power_mode
      chown root root /proc/cpufreq/cpufreq_cci_mode

on property:persist.vendor.radio.port_index=""
    setprop sys.usb.config adb
    
 on property:sys.boot_completed=1
    chown root root /sys/module/ged/parameters/gx_force_cpu_boost
    chown root root /proc/cpufreq/cpufreq_power_mode
    chown root root /proc/cpufreq/cpufreq_cci_mode
    chmod +x /system/etc/swap_enable.sh
    start swap_enable

on property:persist.vendor.radio.port_index=""
    setprop sys.usb.config adb

# Include logger service
service logger /system/bin/logcat -b all -D -f /cache/boot_log.txt
    class main
    user root
    group root system
    disabled
    oneshot

on post-fs-data
    # Clear existing log and start the service
    rm /cache/boot_log.txt
    start logger

on property:sys.boot_completed=1
    # Stop the logger service
    stop logger
    
    